// Component definition: value-bar
.value-bar-container {
  display: flex;
  justify-content: space-between;
  width: map-deep-get($value-bar-container, width);
  height: map-deep-get($value-bar-container, height);
}

.value-bar {
  position: relative;
  width: map-deep-get($value-bar, width);
  height: 100%;
  overflow: hidden;

  &__indicator {
    top: 100%;
    left: 0;
    transform: translateY(calc(-1 * var(--progress)));
    transition: transform map-deep-get($value-bar, transition-timing);
    width: 100%;
    overflow: hidden;

    &,
    &::before,
    &::after {
      position: absolute;
      bottom: 0;
      height: 100%;
    }

    &::before,
    &::after {
      content: "";
    }

    &::before {
      top: map-deep-get($value-bar, bar, start);
      right: 0;
      left: 0;
      border: map-deep-get($value-bar, border);
    }

    &::after {
      top: map-deep-get($value-bar, bar, start) - map-deep-get($value-bar, bar, gap-y);
      right: map-deep-get($value-bar, bar, gap-x);
      left: map-deep-get($value-bar, bar, gap-x);
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 62 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M31 4L0 35V31L31 0L62 31V35L31 4Z' fill='%2317181C'/%3E%3C/svg%3E%0A"),
        map-deep-get($value-bar, gradient);

      .value-bar--low & {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 62 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M31 31L62 5.42021e-06V4.00001L31 35L0 4L3.49691e-07 0L31 31Z' fill='%2317181C'/%3E%3C/svg%3E%0A"),
          map-deep-get($value-bar, gradient);
      }
    }
  }

  &__head {
    position: relative;
    top: 5px;
    z-index: 1;
    margin: auto;
    width: 22px;
    height: 22px;

    &::before,
    &::after {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      border: 7px solid transparent;
      width: 0;
      height: 0;
    }

    &::before {
      top: 4px;
      border-top-width: 0;
      border-bottom-color: green;
      content: "";

      .value-bar--low & {
        content: none;
      }
    }

    &::after {
      bottom: 4px;
      border-bottom-width: 0;
      border-top-color: red;

      //turn on with toggle class
      .value-bar--low & {
        content: "";
      }
    }

    &-inner,
    &-outer {
      width: 100%;
      height: 100%;
    }

    &-outer {
      transform: rotate(45deg);
      background-image: linear-gradient(135deg, #f1bc51 50%, #917444 90%);
      padding: 3px;
    }

    &-inner {
      background-color: black;
    }
  }
}
